@using LittleStore.Models.EditImage
@model IEnumerable<LittleStore.Models.Product>
<style>
    .Product-Short-view {
        width: 200px;
        height: 300px;
        background: #ccc;
        padding: 5px;
        border: solid 1px black;
        float: left;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .Description {
        overflow: hidden;
    }
</style>
@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    if (item.Images.Count == 0)
    {
        item.Images.Add(AddDefaultImage.AddDefImg(item.ProductId));
    }
        <a href="~/Product/ProductDetails/@item.ProductId">

            <div class="Product-Short-view">
                <div>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                </div>

                <div>
                    <img src=@item.Images.First().ImagePath width="200" height="155" alt="lorem">
                </div>

                <div>
                    <b>@Html.DisplayFor(modelItem => item.Price)</b>
                </div>

                <div>
                    @Html.DisplayFor(modelItem => item.DescriptionShort)

                </div>

                <div>
                    <p class="Description">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>
        </a>
   
}
