@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Login", "Login", "Account")
<br />
@Html.ActionLink("Logoff", "LogOff", "Account")
<br />
@Html.ActionLink("Registration", "Registration", "Account")
<br />
@Html.ActionLink("Products", "Index", "Product")